doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 홈페이지
    body 
        h2 안녕안녕
        input(type='button' value='1페이지' id='one' onClick='location.href="/one"')
        input(type='button' value='2페이지' id='two' onclick='location.href="/two"')

        script function one(){ alert('aaa') }
